@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-main: #0119FF;
  --color-middle:#483AA0;
  --color-minor: #FF5A3C;
 
<<<<<<< HEAD
  /* ... */
}



.contact1{
  background-color: #011aff8d;
  background-blend-mode: darken;
}
=======

}

.home1{
    background-color: rgba(0, 0, 255, 0.617);
    background-blend-mode: darken;
}

>>>>>>> 593faadea4f36cbf5c5528d8ec3d3b3b98a384ae
.home2{
    background-color: rgba(0, 0, 0, 0.119);
    background-blend-mode: darken;
}
