@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-main: #0119FF;
  --color-middle:#483AA0;
  --color-minor: #FF5A3C;
 
  /* ... */
}
.home1{
    background-color: rgba(0, 0, 255, 0.617);
    background-blend-mode: darken;
}