@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-main: #0119FF;
  --color-middle:#483AA0;
  --color-minor: #FF5A3C;
 
  /* ... */
}


@layer utilities {
  .servicepic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #473aa0af;
    background-blend-mode: darken;
  }
}